<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>Taipei Trip 台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="../static/css/attraction.css" />
    </head>
    <body class="body">

        <header class="header">
            <div class="header-container">
                <div class="header-title">台北一日遊</div>
                <nav class="header-nav">
                    <div class="header-nav_content">預定行程</div>
                    <div class="header-nav_content">登入/註冊</div>
                </nav>
            </div>
        </header>

        <section class="attraction">
            <div class="attraction-pic">
                <div class="pic-container">
                    <!-- <div class="pic-slide">
                        <img src="">
                    </div>
                    <div class="pic-slide">
                        <img src="">
                    </div> -->
                </div>
                <div class="pic-left_arrow">
                    <img src="../static/images/pic-left-arrow.png" width="32px" height="32px">
                </div>
                <div class="pic-right_arrow">
                    <img src="../static/images/pic-right-arrow.png" width="32px" height="32px">
                </div>
                <div class="pic-dot">
                    <div class="pic-dot_pic1"><img src="../static/images/black-circle.png" width="12px" height="12px"></div>
                    <div class="pic-dot_pic2"><img src="../static/images/white-circle.png" width="12px" height="12px"></div>
                    <div class="pic-dot_pic3"><img src="../static/images/white-circle.png" width="12px" height="12px"></div>
                </div>
                </div>
            <div class="attraction-data">
                <div class="attraction-title"></div>
                <div class="attraction-intro"></div>
                <div class="attraction-booking">
                    <div class="booking_title">訂購導覽行程</div>
                    <div class="booking_intro">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <div class="booking_date">
                        <div class="booking_date_title">選擇日期：</div>
                        <div class="booking_date_info">
                            <input type="date" class="booking_date_choose" width="149px" height="25px">
                        </div>
                    </div>
                    <div class="booking_time">
                        <div class="booking_time_title">選擇時間：</div>
                        <div class="booking_time_select">
                            <div class="booking_time_daybtn">
                                <img src="../static/images/green-btn.png" width="22px" height="22px">
                            </div>
                            <div class="booking_time_info">上半天</div>  
                        </div>                                                      
                        <div class="booking_time_select">
                            <div class="booking_time_nightbtn">
                                <img src="../static/images/white-btn.png" width="22px" height="22px">
                            </div>
                            <div class="booking_time_info">下半天</div> 
                        </div>                 
                    </div>
                    <div class="booking_cost">
                        <div class="booking_cost_title">導覽費用：</div>
                        <div class="booking_cost_info">新台幣 2000元</div>                        
                    </div>
                    <div class="booking_btn">
                        <img src="../static/images/booking.png" width="154px" height="36px">
                    </div>                  
                </div>
            </div>            
        </section>

        <hr class="hr">

        <main class="infors">
            <div class="infors-data"></div>
            <div class="infors-title">景點地址：</div>
            <div class="infors-address"></div>
            <div class="infors-title">交通方式：</div>
            <div class="infors-transport"></div>
        </main>

        <footer class="footer">
            <div class="footer-container">COPYRIGHT © 2021 台北一日遊</div>
        </footer>

        <script src="../static/javascript/attraction.js"></script>
    </body>
</html>