<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>Taipei Trip 台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="../static/css/base.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/attraction.css" />
    </head>
    <body class="body">

        <header class="header">
            <div class="header-container">
                <div class="header-title">台北一日遊</div>
                <nav class="header-nav">
                    <div class="header-nav_content">預定行程</div>
                    <div class="header-nav_login">登入/註冊</div>
                    <div class="header-nav_logout">登出系統</div>
                </nav>
            </div>
        </header>

        <div class="black-background"></div>

        <dialog class="signup">
            <div class="signup-bar"></div>
            <div class="signup-content">
                <div class="signup-close">
                    <img src="../static/images/icon_close.png" width="16px" height="16px">
                </div>
                <div class="signup-content_title">註冊會員帳號</div>
                <input class="signup-name" type="text" placeholder="輸入姓名">
                <input class="signup-email" type="text" placeholder="輸入電子郵件">
                <input class="signup-password" type="password" placeholder="輸入密碼">
                <div class="signup-btn">註冊新帳戶</div>
                <div class="signup-status"></div>
                <div class="change-to-login">已經有帳戶了？點此登入</div>
            </div>
        </dialog>

        <dialog class="login">
            <div class="login-bar"></div>
            <div class="login-content">
                <div class="login-close">
                    <img src="../static/images/icon_close.png" width="16px" height="16px">
                </div>
                <div class="login-content_title">登入會員帳號</div>
                <input class="login-email" type="text" placeholder="輸入電子郵件">
                <input class="login-password" type="password" placeholder="輸入密碼">
                <div class="login-btn">登入帳戶</div>
                <div class="login-status"></div>
                <div class="change-to-signup">還沒有帳戶？點此註冊</div>
            </div>
        </dialog>

        <section class="attraction">
            <div class="attraction-pic">
                <div class="pic-container"></div>
                <div class="pic-left_arrow">
                    <img src="../static/images/pic-left-arrow.png" width="32px" height="32px">
                </div>
                <div class="pic-right_arrow">
                    <img src="../static/images/pic-right-arrow.png" width="32px" height="32px">
                </div>
                <div class="pic-dot"></div>
                </div>
            <div class="attraction-data">
                <div class="attraction-title"></div>
                <div class="attraction-intro"></div>
                <div class="attraction-booking">
                    <div class="booking_title">訂購導覽行程</div>
                    <div class="booking_intro">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <div class="booking_date">
                        <div class="booking_date_title">選擇日期：</div>
                        <div class="booking_date_info">
                            <input type="date" class="booking_date_choose" width="149px" height="25px">
                        </div>
                    </div>
                    <div class="booking_time">
                        <div class="booking_time_title">選擇時間：</div>
                        <div class="booking_time_select">
                            <div class="booking_time_daybtn">
                                <img src="../static/images/green-btn.png" width="22px" height="22px">
                            </div>
                            <div class="booking_time_info">上半天</div>  
                        </div>                                                      
                        <div class="booking_time_select">
                            <div class="booking_time_nightbtn">
                                <img src="../static/images/white-btn.png" width="22px" height="22px">
                            </div>
                            <div class="booking_time_info">下半天</div> 
                        </div>                 
                    </div>
                    <div class="booking_cost">
                        <div class="booking_cost_title">導覽費用：</div>
                        <div class="booking_cost_info">新台幣 2000 元</div>                        
                    </div>
                    <div class="booking_btn">
                        <img src="../static/images/booking.png" width="154px" height="36px">
                    </div>  
                    <div class="booking_error"></div>               
                </div>
            </div>            
        </section>

        <hr class="hr">

        <main class="infors">
            <div class="infors-data"></div>
            <div class="infors-title">景點地址：</div>
            <div class="infors-address"></div>
            <div class="infors-title">交通方式：</div>
            <div class="infors-transport"></div>
        </main>

        <footer class="footer">
            <div class="footer-container">COPYRIGHT © 2021 台北一日遊</div>
        </footer>

        <script src="../static/javascript/base.js"></script>
        <script src="../static/javascript/attraction.js"></script>
    </body>
</html>