<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>Taipei Trip 台北一日遊</title>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    </head>
    <body class="body">

        <header class="header">
            <div class="header-container">
                <div class="header-title">台北一日遊</div>
                <nav class="header-nav">
                    <div class="header-nav_content">預定行程</div>
                    <div class="header-nav_content">登入/註冊</div>
                </nav>
            </div>
        </header>

        <section class="banner">
            <div class="banner-container">
                <div class="banner-title">輕鬆享受台北一日悠閒</div>
                <div class="banner-introduce">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="banner-search">
                    <input class="banner-search_bar" type="text" name="search" id="search" placeholder="輸入景點名稱查詢">
                    <button class="banner-search_btn">
                        <img src="../static/images/icon_search.png" width="30px" height="30px">
                    </button>
                </div>
            </div>
        </section>

        <section class="mrt">
                <div class="mrt-leftbtn"><img src="../static/images/arrow left.png"></div>
                <div class="mrt-container">
                    <div class="mrt-content">
                    </div>
                </div>
                <div class="mrt-rightbtn"><img src="../static/images/arrow right.png"></div>   
        </section>

        <main class="main">
            <div class="main-container">
            </div>
        </main>

        <footer class="footer">
            <div class="footer-container">COPYRIGHT © 2021 台北一日遊</div>
        </footer>

        <script src="../static/javascript/index.js"></script>
    </body>
</html>